<div id="presentation">
  <h2>I am an employee!</h2>
  <p>Name: {{ name }}</p>
  <p>Last Name: {{ lastName }}</p>
  <p>
    Age: {{ age < 18 ? age + " -> MENOR DE EDAD" : age + " -> MAYOR DE EDAD" }}
  </p>
  <p>Company: {{ company.value }}</p>
</div>

<div class="modEmpData">
  <p>CHANGE COMPANY NAME</p>
  <input
    #company
    placeholder="Company Name"
    (keyup)="callCompany(company.value)"
    [disabled]="enableInput"
  />
  <!-- <button type="button" (click)="callCompany(company.value)>Submit</button> -->
</div>

<div class="modEmpData">
  <p>CHECK IF THE USER IS CONNECTED</p>
  <p class="regExamples">Example 1</p>
  About Registered User: {{ textToKnowRegistered }}
  <br />
  <br />
  Check:
  <!-- <input
    type="checkbox"
    id="regUser"
    [checked]="registeredUser"
    (click)="setRegisteredUser()"
  /> -->
  {{ getRegisteredUser() }}

  <p class="regExamples">Example 2</p>
  Registered:
  <input
    type="radio"
    name="radioRegistered"
    id="radioRegistered"
    [checked]="registeredUser"
    (click)="setRegisteredUser($event)"
    value="yes"
  /><br />
  Not Registered:
  <input
    type="radio"
    name="radioRegistered"
    id="radioRegistered"
    value="no"
    (click)="setRegisteredUser($event)"
  /><br />
</div>
